.home-team-container {

    padding-right: 20px;
    padding-bottom: 20px;
    border-right: 1px solid #DEE2E6!important;
    border-bottom: 1px solid #DEE2E6!important;
}

.away-team-container {

    padding-left: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #DEE2E6!important;
    border-bottom: 1px solid #DEE2E6!important;
}

.team-logo-image {

    min-height: 128px;
    min-width: 128px;
}

a {

    color: inherit;
}

.general-container {

    margin: 20px;
    margin-right: 50px;
}

a.display-4 {

    font-size: 2.4vw;
}

.match-results {

    min-height: 13vh;
}

.home-team-stat {

    padding-right: 20px;
    padding-top: 20px;
    border-right: 1px solid #DEE2E6!important;
    border-top: 1px solid #DEE2E6!important;

    min-height: 50vh;
}

.away-team-stat {

    padding-left: 20px;
    padding-top: 20px;
    border-left: 1px solid #DEE2E6!important;
    border-top: 1px solid #DEE2E6!important;

    min-height: 50vh;
}

p.display-4 {

    font-size: 2.0vw;
}

.wager-button {

    padding-top: 20px;
}