<div *ngIf="api.matchFixtureEmitter | async as mfe"class="fixture-container">

    <div class="home-team-container">

        <img [src]="mfe.api.fixtures[0].homeTeam.logo" alt="..." class="team-logo-image img-thumbnail rounded">
        <a class="display-4" routerLink="/teams/{{mfe.api.fixtures[0].league_id}}/{{mfe.api.fixtures[0].homeTeam.team_id}}" routerLinkActive="active">&nbsp;{{mfe.api.fixtures[0].homeTeam.team_name}}</a>

    </div>

    <div class="combined-statistics-div text-center">

        <a class="lead"> Combined Statistics </a>

    </div>

    <div class="away-team-container">

        <img [src]="mfe.api.fixtures[0].awayTeam.logo" alt="..." class="team-logo-image img-thumbnail rounded">
        <a class="display-4" routerLink="/teams/{{mfe.api.fixtures[0].league_id}}/{{mfe.api.fixtures[0].awayTeam.team_id}}" routerLinkActive="active">&nbsp;{{mfe.api.fixtures[0].awayTeam.team_name}}</a>

    </div>
</div>