<div class="row">
    <div class="col-2 bg-light user-nav-col">

        <app-user-team-nav *ngIf="loginStatus===true"></app-user-team-nav>

    </div>

    <div class="jumbotron jumbotron-fluid vh-100 col-10 p-0 info-div">

        <div *ngIf="api.teamsEmitter | async as te" class="team-information-div">

            <div>

                <img [src]="te.api.teams[0].logo" alt="..." class="team-logo-image img-thumbnail rounded float-left">

                <div class="team-basic-information">
                    <p class="display-4">{{te.api.teams[0].name}}{{te.api.teams[0].code?' (' + te.api.teams[0].code + ')':''}}</p>
                    <p *ngIf="te.api.teams[0].country" class="lead">&nbsp;{{te.api.teams[0].country}}: {{te.api.teams[0].venue_city}}</p>
                    <p *ngIf="te.api.teams[0].founded" class="lead">&nbsp;Since {{te.api.teams[0].founded}}</p>
                    <div class="follow-icon">
                        <a (click)="userService.followTeam(te.api.teams[0], api.leagues)">&nbsp;&nbsp;<em class="fa fa-2x" [ngClass] = "{'fa-bookmark': userService.isTeamFollowed(te.api.teams[0]!=-1), 'fa-bookmark-o': userService.isTeamFollowed(te.api.teams[0])==-1}"></em></a>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="api.leaguesEmitter | async as le" class="team-season-navtab">

            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link disabled lead text-dark">{{le.api.leagues[le.api.results - 1].name}}</a>
                </li>

                <li *ngFor="let l of le.api.leagues" class="nav-item">
                    <a class="nav-link lead" (click)="onTabClick(l.league_id);" [ngClass]="{'active': activeId === l.league_id}">{{l.season}}</a>
                </li>

            </ul>

        </div>
        <div class="row team-season-statistics">
            <div *ngIf="api.seasonStatisticsEmitter | async as sse" class="col-3 stats-col">

                <div class="matchs-text-container">

                    <p class="lead m-0">Matchs - 
                        <span>{{sse.api.statistics.matchs.matchsPlayed.total}}</span>
                         - (
                        <span>{{sse.api.statistics.matchs.wins.total}}</span>
                         | 
                        <span>{{sse.api.statistics.matchs.loses.total}}</span>
                         | 
                        <span>{{sse.api.statistics.matchs.draws.total}}</span>
                        )
                    </p>

                </div>

                <hr />

                <div class="upcoming-matchs-container">

                    <div class="m-0 match-nav-tabs">

                        <ul class="nav nav-tabs">

                            <li class="nav-item">
                                <a class="nav-link lead text-dark" (click)="matchsFilterOption=0;" [ngClass]="{'active': matchsFilterOption==0}">All</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link lead text-dark" (click)="matchsFilterOption=1;" [ngClass]="{'active': matchsFilterOption==1}">Completed</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link lead" (click)="matchsFilterOption=2;" [ngClass]="{'active': matchsFilterOption==2, 'disabled nav-text text-muted': !api.leagues.api.leagues[this.seasonMap[this.activeId]].is_current, 'nav-link text-dark': api.leagues.api.leagues[this.seasonMap[this.activeId]]}">Upcoming</a>
                            </li>

                        </ul>

                    </div>

                    <ul class="list-group match-list-group">
                        
                        <li *ngFor="let fixture of sortedFixturesEmitter | async | matchesFilter:matchsFilterOption" class="list-group-item list-group-item-active">

                            <a routerLink="/user/matchs/{{fixture.fixture_id}}" routerLinkActive="active">
                                <p class="lead m-0 float-left">{{fixture.round}}</p>
                                <p class="lead m-0 float-right">{{((fixture.statusShort==='FT')?fixture.score.fulltime:'')}}</p>
                            </a>

                        </li>

                    </ul>

                </div>

            </div>

            <div *ngIf="rosterEmitter | async as re" class="roster-table col-9">

                <table class="table table-striped p-0" aria-describedby="Season Roster">
                    <thead>
                        <tr>
                            <th scope="col" class="roster-table-icon"></th>
                            <th scope="col" class="roster-table-icon"></th>
                            <th scope="col" class="roster-table-icon"><a (click)="rosterSortOption=0"><em class="fa fa-exclamation-circle"></em></a></th>
                            <th scope="col" class="roster-table-name"><a (click)="rosterSortOption=1">Name</a></th>
                            <th scope="col" class="roster-table-position"><a (click)="rosterSortOption=2">Position</a></th>
                            <th scope="col" class="roster-table-position"><a  (click)="rosterSortOption=3">Nationality</a></th>
                            <th scope="col" class="roster-table-number"><a (click)="rosterSortOption=4">Age</a></th>
                            <th scope="col" class="roster-table-icon"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let player of re.api.players | rosterFilter:rosterSortOption">
                            <td>
                                <a (click)=userService.followPlayer(player)>
                                    <em class="fa" [ngClass]="{'fa-bookmark': userService.isPlayerFollowed(player)!=-1, 'fa-bookmark-o': userService.isPlayerFollowed(player)==-1}"></em>
                                </a>
                            </td>
                            <td class="dropright">
                                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <em class="fa fa-list"></em>
                                </a>

                                <div class="dropdown-menu">
                                    <h6 class="dropdown-header">Add to fantasy team...</h6>
                                    <div class="dropdown-divider"></div>

                                    <a *ngFor="let team of userService.tempFantasyTeams" class="dropdown-item">{{team}}</a>

                                </div>
                            </td>
                            <td><em [ngClass]="{'fa fa-exclamation-circle': player.captain}"></em></td>
                            <td>{{(player.firstname + ' ' + player.lastname)}}</td>
                            <td>{{player.position}}</td>
                            <td>{{player.nationality}}</td>
                            <td>{{(player.age?player.age:'')}}</td>
                            <td><a><em class="fa fa-external-link"></em></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>