<div class="text-center m-0 bg-light d-flex flex-column justify-content-center login-div">

    <div class = "login-header">
        <h4 class = "display-4 text-dark">Sign In</h4>
    </div>

    <form class="login-form col-2 offset-5">

        <div style="padding-top:30px;">

            <div class="form-group text-left">

                <label for="login-form-username">Username or Email</label>
                <input type="text" class="form-control col-12" id="login-form-username" placeholder="">

            </div>

            <div class="form-group text-left">

                <label for="login-form-password">Password</label>
                <input type="password" class="form-control col-12" id="login-form-password" placeholder="">

            </div>

        </div>
    </form>

</div>
