<div class="jumbotron m-0 p-0 background">

    <div class ="row">

        <div class ="col-2 left-container m-0 p-0">

            <div class = "image-container-1">
            </div>

            <div class = "under-bar bg-light">
            </div>

        </div>

        <div class ="col-8 text-center body-container">
                <h1>Welcome to insert name here</h1>
                <br>
                <h4>What you can do</h4>
                    <p>View Match Results</p>
                    <p>View Player Stats</p>
                    <p>View Team Stats</p>
                    <p>View Odds On A Game</p>
                    <p>Follow Your Favorite Player</p>
                    <p>Follow Your Favorite Team</p>
                    <p>Make Friendly Wagers</p>
                    <p>Guess The Outcome Of A Game To Build Up Your Streak</p>
                    <p>Make a Fantasy Team</p>
                    <br>
                <h4>Who made it?</h4>  
                <p>Michael Zhang and Joe Gallagher</p>
                <br>
                <h4>How to Access This Great Content </h4>
                <p>Sign in or create an account</p>
        </div>

        <div class="col-2 right-container m-0 p-0">

            <div class = "image-container-2">
            </div>

            <div class="under-bar bg-light">
            </div>
            
        </div>
    </div>
</div>