.list-group{

    max-height: 80vh;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.list-group-item-active { 

    cursor: pointer;
    border: none;
}

.img-thumbnail {

    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 100px;
    height: auto;
    width: auto;
}

.div-versus {

    position: absolute;
    left: calc(50% - 250px);

    height: 64px;
    width: 500px;
}

.list-group-item {

    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
}

.card-header {

    border: none;
}

.card-body {

    border-top: 1px solid #DFDFDF;

    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;

    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

a {

    color: inherit;
    cursor: pointer;
}

.upcoming-header {

    margin: 20px;
}

.leagues-dropdown {

    max-height: 40vh;
    overflow-y: scroll;
}