<div class="text-center m-0 d-flex flex-column">
        <h1 class = "display-4 text-dark">Upcoming Matches</h1>
        <h4 class = "lead text-dark" id="landing-requests-user"></h4>
</div>

<div *ngIf="fixtures" class="fixture-container text-center">

    <div class="list-group" style="overflow-y: scroll!important;" id="fixture-list">

        <div *ngFor="let fixture of api.fixtures.api.fixtures" class="card col-10 offset-1 p-0">

            <a attr.data-target="#collapse-{{fixture.fixture_id}}" data-toggle="collapse" class="collapsed" aria-expanded="false">

                <div class="card-header row m-0 p-0">

                    <div class="list-group-item list-group-item-active">

                        <div class="lead float-left">

                            <img [src]="fixture.homeTeam.logo" alt="..." class="img-thumbnail rounded float-left" alt="...">
                            <a routerLink="/teams/{{fixture.league_id}}/{{fixture.homeTeam.team_id}}" routerLinkActive="active">{{fixture.homeTeam.team_name}}</a>

                        </div>

                        <div class="text-center div-versus">
                            <p class="m-0">{{fixture.event_date | date:'mediumDate'}}</p>
                            <p class="m-0">{{(fixture.event_timestamp*1000) | date:'mediumTime'}} (GMT)</p>
                            <p class="m-0">{{(fixture.venue?'@' + fixture.venue:'')}}</p>
                        </div>

                        <div class="lead float-right">

                            <img [src]="fixture.awayTeam.logo" alt="..." class="img-thumbnail rounded float-right" alt="...">
                            <a routerLink="/teams/{{fixture.league_id}}/{{fixture.awayTeam.team_id}}" routerLinkActive="active">{{fixture.awayTeam.team_name}}</a>

                        </div>
                    </div>

                </div>

                <div id="collapse-{{fixture.fixture_id}}" class="collapse row m-0 p-0" aria-labelledby="headingOne" data-parent="#fixture-list">
                    <div class="card-body">

                        <div class="row m-0 p-0">

                            <div class="home-team-quick col p-0">

                                <p>Home Team Statistics</p>

                            </div>

                            <div class="h2h-quick col p-0">

                                <p>H2H Statistics/Records</p>

                            </div>

                            <div class="away-team-quick col p-0">

                                <p>Away Team Statistics</p>

                            </div>

                        </div>

                        <div class="row m-0 p-0">

                            <button class="btn btn-secondary btn-block" routerLink="/user/matchs/{{fixture.fixture_id}}" routerLinkActive="active">More Details</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    </div>

</div>