<nav class="navbar navbar-light" aria-labelledby="general-naviagation" id="user-side-navbar">

    <div class="navbar-header w-100 side-navbar-name">

        <button *ngIf="userService.user===null || userService.user.firstname===''" class="btn btn-warning col-10 offset-1 side-navbar-finish-button">
        Finish Account Creation
        </button>

        <a *ngIf="userService.user!==null && userService.user.firstname!==''" class="navbar-brand">
        {{userService.user.firstname + " " + userService.user.lastname}}
        </a>

    </div>

    <div class="navbar-collapse" id="navbarText">
        <ul class="nav navbar-nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="/user" routerLinkActive="active" id="navbar-home">Account Home</a>
            </li>

            <li class="nav-item">
                <a (click)="expandedState===1?expandedState=0:expandedState=1" class="nav-link active" id="navbar-teams-expand"><span class="dropdown-toggle" [ngClass]="{'dropup':expandedState===1}"></span>&nbsp;&nbsp;Fantasy Teams</a>
            </li>

            <ul *ngIf="expandedState===1" class="list-no-bullet">

                <li *ngFor="let team of userService.tempFantasyTeams" class="nav-item">
                    <a routerLink="/user/fantasy-teams/{{team}}" routerLinkActive="active" class="nav-link p-0">{{team}}</a>
                </li>

                <hr />

                <li class="nav-item">
                    <a routerLink="/user/fantasy-teams" routerLinkActive="active" class="nav-link p-0">Create a new team...</a>
                </li>

            </ul>

            <li class="nav-item">
                <a (click)="expandedState===2?expandedState=0:expandedState=2" class="nav-link active" id="navbar-followed-teams-expand"><span class="dropdown-toggle" [ngClass]="{'dropup':expandedState===2}"></span>&nbsp;&nbsp;Followed Teams</a>
            </li>

            <ul *ngIf="expandedState===2" class="list-no-bullet">

                <li *ngFor="let obj of userService.tempFollowedTeams" class="nav-item">
                    <a routerLink="/teams/{{obj.league}}/{{obj.team.team_id}}" routerLinkActive="active" class="nav-link p-0">{{obj.team.name}}</a>
                </li>

            </ul>

            <li class="nav-item">
                <a (click)="expandedState===3?expandedState=0:expandedState=3" class="nav-link active" id="navbar-followed-players-expand"><span class="dropdown-toggle" [ngClass]="{'dropup':expandedState===3}"></span>&nbsp;&nbsp;Followed Players</a>
            </li>

            <ul *ngIf="expandedState===3" class="list-no-bullet">

                <li *ngFor="let player of userService.tempFollowedPlayers" class="nav-item">
                    <a routerLink="/players/{{player.id}}" routerLinkActive="active" class="nav-link p-0">{{player.name}}</a>
                </li>

            </ul>

            <li class="nav-divider"></li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user/matchs" routerLinkActive="active" id="navbar-upcoming-matches">Upcoming Matchs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user/predictions" routerLinkActive="active" id="navbar-user-predictions">Predictions</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/user/wagers" routerLinkActive="active" id="navbar-user-wagers">Wagers</a>
            </li>

        </ul>
    </div>
</nav>